<div class="result-container">
        <img src="images/dpeges.jpg" alt="DPE">
        <!-- <img src="images/classA.jpg" alt="classe A">
        <img src="images/classB.jpg" alt="classe B">
        <img src="images/classC.jpg" alt="classe C">
        <img src="images/classD.jpg" alt="classe D">
        <img src="images/classE.jpg" alt="classe E">
        <img src="images/classF.jpg" alt="classe F">
        <img src="images/classG.jpg" alt="classe G"> -->
</div>
