<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/bandname.css">
  <title>Band Generator</title>
</head>

<body>Capstone app

  <main>
Your bandname is ...

    <!-- on vérifie que adjective & noun existent -->
    <% if (locals.adjective && locals.noun) { %>
      <!-- si on laisse l'adj/nom bloqués ensemble, ils font moins de combinaison (locals.bandName) -->
      <h1><%= adjective %> <%= noun %></h1>
    <% } %>
      <form action="/submitBandname" method="POST" style="margin-top: 30px;">
        <div class="pick">
          <input type="submit" class="text" value="🤟">
        </div>
      </form>
    </main>

  <footer>
    <% const d = new Date(); %>
    <% let year = d.getFullYear(); %>
    <p>© <a href="/">Eleonore Dubois</a> <%= year %></p>
    <!-- shortcode : new Date().getFullYear() -->
  </footer>
</body>

</html>
