<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DPE</title>
  <link rel="stylesheet" href="/styles/diag.css">
</head>

<body id="app">
  <form class="white-container" action="/submitDiag" method="post">
    
    <div class="horizontal-container">
      <h4>Score de votre logement : 
        <% if (locals.dpeScore) { %>
        <%= dpeScore %> kWh/an/m² d'énergie primaire
        <% } %>
      </h4>
    </div>

    <h2>
      Diagnostic de performance énergétique
    </h2>

    <!-- if inputs have been submitted, display illustration.ejs block of code -->
    <% if (locals.dpeScore) { %>
      <h3 id="comment">
        <%= dpeComment %>
      </h3>
      <%- include("partials/illustration.ejs") %>

        <!-- and the original 'restart' button (how does it restart?) -->
        <button type="submit">Recalculer votre DPE</button>

      <!-- otherwise, display the fields and button -->
      <% } else { %>
      <div class="answer-container">
        <input type="text" name="consoElec" id="consoInput" placeholder="Conso électriques" autofocus>
        <label for="consoElec"> kWh/an</label>
        <input type="text" name="surfaceLogement" id="surfaceInput" placeholder="Surface du logement">
        <label for="surfaceLogement"> m²</label>
      </div>
      <button type="submit">Calculer votre DPE</button>
      <% } %>

  </form>

  <footer>
    <p>© <a href="/">Eleonore Dubois</a> <%= new Date().getFullYear(); %></p>
  </footer>

</body>
</html>
