<!-- header -->
<%- include("partials/header.ejs") %>

<!-- titre -->
<h1 class="animate__animated animate__hinge animate__delay-2s">Front is fun !</h1>

    <!-- sous-titre -->
    <h2 class="animate__animated animate__fadeIn animate__delay-3s animate__slower">Back is dope.</h2>

        <!-- message de bienvenue -->
        <p class="lead animate__animated animate__fadeIn animate__delay-4s animate__slower">Welcome to my Capstone-in-progress website</p>

            <!-- lien vers projet du moment => about -->
            <p class="lead animate__animated animate__flipInX animate__delay-5s">
            <a href="/about" class="btn btn-lg btn-outline-light" id="firstClick">Projet du moment</a>
        </p>

<!-- footer -->
<%- include("partials/footer.ejs") %>
