<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist</title>
    <link rel="stylesheet" href="styles/todolist.css">
    
</head>
<body>
    <div class="box" id="heading">
        <h1>Pain sur la planche</h1>
    </div>
    

    <div class="box">
        <!-- boucle pour chaque nouvelle entrée d'item -->
        <% for(let i=0; i<newListItems.length; i++){%>
        <div class="item">
            <input type="checkbox">
            <p><%= newListItems[i] %></p>
        </div>
        <% } %>
            
        <!-- entrée d'un nouvel item -->
        <form class="item" action="/todolist" method="post">
            <input type="text" name="newItem" placeholder="Notez ici votre idée" autocomplete="off">
            <button type="submit" name="button">+</button>
        </form>
    </div>

</body>
</html>
